<a href="https://colab.research.google.com/github/Huin9/Huin9/blob/main/Ch01_02_Simple_Machine_Learning(KNN_IRIS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# IRIS; 사이킷런의 대표적 실습 데이터

### 붓꽃의 꽃받침, 꽃잎의 폭과 너비를 이용해서 붓꽃 품종을 예측

# 1. 데이터 로드

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

In [2]:
Iris = load_iris()

# 데이터 살펴보기

In [3]:
type(Iris)

sklearn.utils.Bunch

---
Bunch ; sklearn에서 제공하는 데이터셋의 자료형

- data : (필수) 독립변수 ndarray 배열
- target : (필수) 종속변수 ndarray 배열
- feature_names : (옵션) 독립 변수 이름 리스트
- target_names : (옵션) 종속 변수 이름 리스트
- DESCR : (옵션) 자료에 대한 설명

🥤 일종의 딕셔너리형 구조라고 생각하면 이해하기 쉽다

---

In [5]:
print("Iris의 key값:", Iris.keys())

Iris_dataset의 key값: dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [9]:
#print(Iris['DESCR'])
print(Iris['DESCR'][:500] + "\n...")

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica


...

In [10]:
print("Iris의 feature_names 값", Iris['feature_names'])
print("Iris의 target_names 값", Iris['target_names'])

Iris의 feature_names 값 ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Iris의 target_names 값 ['setosa' 'versicolor' 'virginica']

In [32]:
# pandas로 dataset 가져오기
print("Iris의 데이터값")
X_iris = pd.DataFrame(Iris['data'], columns = Iris['feature_names'] )
X_iris.head()

Iris의 데이터값

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# DATA PreProcessing

## 1. Split X and Y

In [35]:
X_iris = pd.DataFrame(Iris['data'], columns = Iris['feature_names'] )
y_iris = pd.DataFrame(Iris['target'], columns = ['variety'])
y_iris['variety'] = y_iris['variety'].apply(lambda x : 'setosa' if x == 0 else 'versicolor' if x== 1 else 'virginica')
y_iris.head()

  variety
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

# Split train set, test set

In [36]:
# 함수를 이용해서 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_iris, y_iris, test_size =0.3, random_state = 0)

In [37]:
print(f"X_train 크기 :{X_train.shape}")
print(f"y_train 크기 :{y_train.shape}")

X_train 크기 :(105, 4)
y_train 크기 :(105, 1)

In [38]:
print(f"X_test 크기 :{X_test.shape}")
print(f"y_test 크기 :{y_test.shape}")

X_test 크기 :(45, 4)
y_test 크기 :(45, 1)

# Machine learning modeling

In [39]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)

# Trianing

In [40]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
60                 5.0               2.0                3.5               1.0
116                6.5               3.0                5.5               1.8
144                6.7               3.3                5.7               2.5
119                6.0               2.2                5.0               1.5
108                6.7               2.5                5.8               1.8
..                 ...               ...                ...               ...
9                  4.9               3.1                1.5               0.1
103                6.3               2.9                5.6               1.8
67                 5.8               2.7                4.1               1.0
117                7.7               3.8                6.7               2.2
47                 4.6               3.2                1.4               0.2

[105 rows x 4 columns]

In [41]:
y_train

        variety
60   versicolor
116   virginica
144   virginica
119   virginica
108   virginica
..          ...
9        setosa
103   virginica
67   versicolor
117   virginica
47       setosa

[105 rows x 1 columns]

In [42]:
## knn 알고리즘 traing
knn.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [44]:
print(y_train.shape)
print(y_train.values.ravel().shape)

(105, 1)
(105,)

In [45]:
## knn 알고리즘 training
knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

# Predict

In [48]:
import numpy as np

# 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)' 을 임의로 정한다
# 10, 2, 5, 4 의 수치로 정함
Our_X = np.array([[10,2,5,4]])
Our_X

array([[10,  2,  5,  4]])

In [49]:
# 임의의 데이터로 prediction
prediction = knn.predict(Our_X)
print(f"예측: {prediction}")

예측: ['virginica']

# Accuracy

In [50]:
y_pred = knn.predict(X_test)
print(f"테스트 세트에 대한 예측값:\n {y_pred}")

테스트 세트에 대한 예측값:
 ['virginica' 'versicolor' 'setosa' 'virginica' 'setosa' 'virginica'
 'setosa' 'versicolor' 'versicolor' 'versicolor' 'virginica' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'setosa' 'versicolor' 'versicolor'
 'setosa' 'setosa' 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica'
 'setosa' 'setosa' 'versicolor' 'versicolor' 'setosa' 'virginica'
 'versicolor' 'setosa' 'virginica' 'virginica' 'versicolor' 'setosa'
 'virginica' 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica'
 'setosa' 'setosa']

In [51]:
# y_test를 1차원 matrix로 변경
y_test_flatten = np.array(y_test).flatten()

In [52]:
y_pred == y_test_flatten

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True])

In [54]:
print(f"테스트 세트의 정확도 : {round(np.mean(y_pred==y_test_flatten),2)}")

테스트 세트의 정확도 : 0.98

In [55]:
print(f"테스트 세트의 정확도 : {round(knn.score(X_test, y_test_flatten) ,2)}")

테스트 세트의 정확도 : 0.98