<a href="https://colab.research.google.com/github/Huin9/Huin9/blob/main/Ch01_02_Simple_Machine_Learning(KNN_IRIS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# IRIS; ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò ÎåÄÌëúÏ†Å Ïã§Ïäµ Îç∞Ïù¥ÌÑ∞

### Î∂ìÍΩÉÏùò ÍΩÉÎ∞õÏπ®, ÍΩÉÏûéÏùò Ìè≠Í≥º ÎÑàÎπÑÎ•º Ïù¥Ïö©Ìï¥ÏÑú Î∂ìÍΩÉ ÌíàÏ¢ÖÏùÑ ÏòàÏ∏°

# 1. Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

In [2]:
Iris = load_iris()

# Îç∞Ïù¥ÌÑ∞ ÏÇ¥Ìé¥Î≥¥Í∏∞

In [3]:
type(Iris)

sklearn.utils.Bunch

---
Bunch ; sklearnÏóêÏÑú Ï†úÍ≥µÌïòÎäî Îç∞Ïù¥ÌÑ∞ÏÖãÏùò ÏûêÎ£åÌòï

- data : (ÌïÑÏàò) ÎèÖÎ¶ΩÎ≥ÄÏàò ndarray Î∞∞Ïó¥
- target : (ÌïÑÏàò) Ï¢ÖÏÜçÎ≥ÄÏàò ndarray Î∞∞Ïó¥
- feature_names : (ÏòµÏÖò) ÎèÖÎ¶Ω Î≥ÄÏàò Ïù¥Î¶Ñ Î¶¨Ïä§Ìä∏
- target_names : (ÏòµÏÖò) Ï¢ÖÏÜç Î≥ÄÏàò Ïù¥Î¶Ñ Î¶¨Ïä§Ìä∏
- DESCR : (ÏòµÏÖò) ÏûêÎ£åÏóê ÎåÄÌïú ÏÑ§Î™Ö

ü•§ ÏùºÏ¢ÖÏùò ÎîïÏÖîÎÑàÎ¶¨Ìòï Íµ¨Ï°∞ÎùºÍ≥† ÏÉùÍ∞ÅÌïòÎ©¥ Ïù¥Ìï¥ÌïòÍ∏∞ ÏâΩÎã§

---

In [5]:
print("IrisÏùò keyÍ∞í:", Iris.keys())

Iris_datasetÏùò keyÍ∞í: dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [9]:
#print(Iris['DESCR'])
print(Iris['DESCR'][:500] + "\n...")

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica


...

In [10]:
print("IrisÏùò feature_names Í∞í", Iris['feature_names'])
print("IrisÏùò target_names Í∞í", Iris['target_names'])

IrisÏùò feature_names Í∞í ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
IrisÏùò target_names Í∞í ['setosa' 'versicolor' 'virginica']

In [32]:
# pandasÎ°ú dataset Í∞ÄÏ†∏Ïò§Í∏∞
print("IrisÏùò Îç∞Ïù¥ÌÑ∞Í∞í")
X_iris = pd.DataFrame(Iris['data'], columns = Iris['feature_names'] )
X_iris.head()

IrisÏùò Îç∞Ïù¥ÌÑ∞Í∞í

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# DATA PreProcessing

## 1. Split X and Y

In [35]:
X_iris = pd.DataFrame(Iris['data'], columns = Iris['feature_names'] )
y_iris = pd.DataFrame(Iris['target'], columns = ['variety'])
y_iris['variety'] = y_iris['variety'].apply(lambda x : 'setosa' if x == 0 else 'versicolor' if x== 1 else 'virginica')
y_iris.head()

  variety
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

# Split train set, test set

In [36]:
# Ìï®ÏàòÎ•º Ïù¥Ïö©Ìï¥ÏÑú ÎÇòÎàÑÍ∏∞
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_iris, y_iris, test_size =0.3, random_state = 0)

In [37]:
print(f"X_train ÌÅ¨Í∏∞ :{X_train.shape}")
print(f"y_train ÌÅ¨Í∏∞ :{y_train.shape}")

X_train ÌÅ¨Í∏∞ :(105, 4)
y_train ÌÅ¨Í∏∞ :(105, 1)

In [38]:
print(f"X_test ÌÅ¨Í∏∞ :{X_test.shape}")
print(f"y_test ÌÅ¨Í∏∞ :{y_test.shape}")

X_test ÌÅ¨Í∏∞ :(45, 4)
y_test ÌÅ¨Í∏∞ :(45, 1)

# Machine learning modeling

In [39]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)

# Trianing

In [40]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
60                 5.0               2.0                3.5               1.0
116                6.5               3.0                5.5               1.8
144                6.7               3.3                5.7               2.5
119                6.0               2.2                5.0               1.5
108                6.7               2.5                5.8               1.8
..                 ...               ...                ...               ...
9                  4.9               3.1                1.5               0.1
103                6.3               2.9                5.6               1.8
67                 5.8               2.7                4.1               1.0
117                7.7               3.8                6.7               2.2
47                 4.6               3.2                1.4               0.2

[105 rows x 4 columns]

In [41]:
y_train

        variety
60   versicolor
116   virginica
144   virginica
119   virginica
108   virginica
..          ...
9        setosa
103   virginica
67   versicolor
117   virginica
47       setosa

[105 rows x 1 columns]

In [42]:
## knn ÏïåÍ≥†Î¶¨Ï¶ò traing
knn.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [44]:
print(y_train.shape)
print(y_train.values.ravel().shape)

(105, 1)
(105,)

In [45]:
## knn ÏïåÍ≥†Î¶¨Ï¶ò training
knn.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

# Predict

In [48]:
import numpy as np

# 'sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)' ÏùÑ ÏûÑÏùòÎ°ú Ï†ïÌïúÎã§
# 10, 2, 5, 4 Ïùò ÏàòÏπòÎ°ú Ï†ïÌï®
Our_X = np.array([[10,2,5,4]])
Our_X

array([[10,  2,  5,  4]])

In [49]:
# ÏûÑÏùòÏùò Îç∞Ïù¥ÌÑ∞Î°ú prediction
prediction = knn.predict(Our_X)
print(f"ÏòàÏ∏°: {prediction}")

ÏòàÏ∏°: ['virginica']

# Accuracy

In [50]:
y_pred = knn.predict(X_test)
print(f"ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïóê ÎåÄÌïú ÏòàÏ∏°Í∞í:\n {y_pred}")

ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïóê ÎåÄÌïú ÏòàÏ∏°Í∞í:
 ['virginica' 'versicolor' 'setosa' 'virginica' 'setosa' 'virginica'
 'setosa' 'versicolor' 'versicolor' 'versicolor' 'virginica' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'setosa' 'versicolor' 'versicolor'
 'setosa' 'setosa' 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica'
 'setosa' 'setosa' 'versicolor' 'versicolor' 'setosa' 'virginica'
 'versicolor' 'setosa' 'virginica' 'virginica' 'versicolor' 'setosa'
 'virginica' 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica'
 'setosa' 'setosa']

In [51]:
# y_testÎ•º 1Ï∞®Ïõê matrixÎ°ú Î≥ÄÍ≤Ω
y_test_flatten = np.array(y_test).flatten()

In [52]:
y_pred == y_test_flatten

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True])

In [54]:
print(f"ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ : {round(np.mean(y_pred==y_test_flatten),2)}")

ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ : 0.98

In [55]:
print(f"ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ : {round(knn.score(X_test, y_test_flatten) ,2)}")

ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò Ï†ïÌôïÎèÑ : 0.98